# === WEB SERVER PORT ===
# The actix web server will run on this specified port. [default: 3000]
PORT=3000

# === SQLX DATABASE PATH ===
# Relative path to the database.
DATABASE_URL=sqlite://.butterfly/data.db
