# === WEB SERVER PORT ===
#   The actix web server will run on this specified port. [default: 3000]
PORT=3000

# === SQLX DATABASE PATH ===
#   Relative path to the database.
DATABASE_URL=sqlite://.butterfly/data.db

# === SQLX AUTO MIGRATE ===
#   Wether or not migrations should run automatically. Uncomment to
#   automatically run migrations. [default: false]
# DATABASE_AUTOMIGRATE=true
